# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath
.factorypath

# Logs
logs/
*.log

# OS
Thumbs.db
.DS_Store

# Env / secrets
.env
*.local
